<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type='text/javascript'>

</script>
<h1>Global View</h1>

<div><b>Name:</b> <%= @game.name %></div>

<div>
	<b>Ongoing Assignments (<%= @game.assignments.length %>)</b>
	<br>
	<% @game.assignments.each do |assignment| %>
	<div class='assignment' id='<%= assignment.id %>'><%= assignment.get_player.name %> has to kill <%= assignment.get_player_2.name %> (<%= assignment.status %>)</div>
	<% end %>
</div>

