<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type='text/javascript'>
$(document).ready(function(){
	$(".kill-btn").click(function(){
		var r = prompt('what is <% @ongoing_names.each do |name| %><%= name %> <% end %> kill code?');
		var kill_code = r;
		var assignment_id = $(this).attr('id');
		var failed = false;
		$.ajax({
		    url: "/confirm_kill",
		    type: "GET",
		    data: { "assignment_id": assignment_id, 'kill_code': kill_code },
		  }).complete(function(data) {
		  	if (!failed){
		  		alert('good job');
		  		location.reload();
		  	}
		  	
		  }).fail(function(data){
		  	console.log(data);
		  	failed = true;
		    alert('failed');
		  });
	});
	// 
	// handle reverse kills
	// 
	$(".reverse-kill-btn").click(function(){
		var r = prompt('what is kill code?');
		var kill_code = r;
		var player_id = $(this).attr('id');
		var failed = false;
		$.ajax({
		    url: "/confirm_reverse_kill",
		    type: "GET",
		    data: { "player_id": player_id, 'kill_code': kill_code },
		  }).complete(function(data) {
		  	if (!failed){
		  		alert('good job reverse killed');
		  		location.reload();
		  	}
		  	
		  }).fail(function(data){
		  	console.log(data);
		  	failed = true;
		    alert('failed');
		  });
	});
});
</script>

<% if @current_assignment %>
<h1>Welcome <%= @player.code %>, You're alive!</h1>
<h2>You have to kill <% @ongoing_names.each do |name| %><%= name %> <% end %></h2>

<h2>You killed <% @killed_names.each do |name| %><%= name %> <% end %></h2>

<div>
	<button id='<%= @current_assignment.id %>' type = 'btn' class = 'btn btn-default kill-btn'>i killed <% @ongoing_names.each do |name| %><%= name %> <% end %></button>
	<button id = '<%= @player.id %>' type='btn' class = 'btn btn-default reverse-kill-btn'>reverse kill</button>

</div>


<% else %>
<h1>Welcome <%= @player.code %>, You're dead</h1>
<h2>You killed <% @killed_names.each do |name| %><%= name %> <% end %></h2>
<h2>You got killed by <% @killer_names.each do |name| %><%= name %> <% end %></h2>
<% end %>
